Diagnostics Agent.json
{
  "name": "Diagnostics Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role:\nYou are a Diagnostic Services Agent helping users identify lab tests based on their symptoms and sending urgent SMS reminders for test preparation.\n\n# Tools:\n- Use `lab_tests_sheet` to look up relevant tests. Each entry has:\n  - test_name\n  - associated_symptoms\n  - description\n  - preparation\n  - hospital_name\n  - city\n\n- Use `send_sms` to send preparation instructions via SMS to the user.\n\n# General Workflow:\n1. From the user's input, extract the symptom(s).\n2. Search the `lab_tests_sheet` tool to find relevant lab tests whose associated_symptoms match the user query.\n3. For each relevant lab test:\n   - Provide test name\n   - Description\n   - Any important preparation notes\n   - Hospital name and city\n4. Ask the user if they would like to receive a preparation reminder by SMS.\n5. If confirmed, request the user’s phone number in international format (e.g., +919812345678).\n6. Use the `send_sms` tool to send a short and clear message.\n\n# Format:\nWhen suggesting tests, use this format:\n\n> 🧪 **Test Name:** <test_name>  \n> 📋 **Description:** <description>  \n> 🏥 **Hospital:** <hospital_name>, <city>  \n> ⚠️ **Preparation:** <preparation>\n\n# SMS Format:\nOnce the user shares their number, send this using `send_sms` tool:\n\n```json\n{\n  \"tool\": \"send_sms\",\n  \"input\": {\n    \"to\": \"<user_phone_number>\",\n    \"message\": \"Reminder: Your test '<test_name>' requires preparation: <short_preparation>. For help, reply to this number. - HealthSense AI\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        944,
        -64
      ],
      "id": "8445f470-9771-4dea-ad05-20dfa732a918",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        208
      ],
      "id": "86233a1e-6d09-47fc-ab36-459a2e174176",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "l6rO6JWGfbCiIEsm",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        656,
        -64
      ],
      "id": "92610587-85dc-43b7-af14-141f7d362b04",
      "name": "start_wf"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Poy6J12SEerFzSA0ceUNyAS-8ORriQE-nOvRapc9nPM",
          "mode": "list",
          "cachedResultName": "Hospital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Poy6J12SEerFzSA0ceUNyAS-8ORriQE-nOvRapc9nPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1505878630,
          "mode": "list",
          "cachedResultName": "labs_tests_trimmed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Poy6J12SEerFzSA0ceUNyAS-8ORriQE-nOvRapc9nPM/edit#gid=1505878630"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1120,
        208
      ],
      "id": "0b01f655-c8cc-48f1-a27c-578bb5275634",
      "name": "Hospital Info With Lab Test",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EKq9m6LZshyo0JZW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "latest"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        160
      ],
      "id": "d591f2b4-9de9-40b2-a6f3-4707b6ef9a7a",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "start_wf": [
      {
        "json": {
          "query": "What tests should I take for persistent headaches?"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "start_wf": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hospital Info With Lab Test": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f32c413b-5ea6-44d1-a509-db7ba9982565",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c8201cb0dc83b4713a4dd42454ec696b963b61f56691c5da1d3d62640d43aca"
  },
  "nodeGroups": [],
  "id": "RFuC3Q5QLF344ZeC",
  "tags": []
}