External Ingestion Agent.json
{
  "name": "External Ingestion Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        0
      ],
      "id": "172c8047-78c9-447d-836c-493b7e8c4c7f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "10brS43UF7S2M4kbzFe83D2AkPQ-G2c4u",
            "mode": "list",
            "cachedResultName": "External_Resources",
            "cachedResultUrl": "https://drive.google.com/drive/folders/10brS43UF7S2M4kbzFe83D2AkPQ-G2c4u"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        0
      ],
      "id": "ce89ee2e-71b0-4aeb-a761-7cbaf281341e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TN2UKNgJX6sDS1zM",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        0
      ],
      "id": "70befa81-1e5e-4d86-9e8b-0de176a8c956",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TN2UKNgJX6sDS1zM",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "externalragritu",
          "mode": "list",
          "cachedResultName": "externalragritu"
        },
        "options": {
          "pineconeNamespace": "prod"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        0
      ],
      "id": "8fb6c0ab-adee-4b22-9cbc-76cd8036080d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "xTBUZswVkqZRsoLt",
          "name": "Pinecone account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        240
      ],
      "id": "8a76ad75-4b15-4894-b578-fbe0641c862b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "l6rO6JWGfbCiIEsm",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        208
      ],
      "id": "578f5b9d-4642-4154-a1d9-7fec5b56afa1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        592,
        416
      ],
      "id": "f5cf29d0-430d-44b5-94b3-8994a84ea499",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8ee0afce-ea5d-4544-8383-051ef08ddf62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c8201cb0dc83b4713a4dd42454ec696b963b61f56691c5da1d3d62640d43aca"
  },
  "nodeGroups": [],
  "id": "VmTc0089F9ScmWTD",
  "tags": []
}