RAG Internal Ingestion Agent.json
{
  "name": "RAG Internal Ingestion Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "3075b95a-3ee2-4842-bf99-527f04ceae0e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 10,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1kGX3Re26UPIfPmdkzuCbavuBkbAB-qG-",
            "mode": "list",
            "cachedResultName": "Novacart_n8n_Ritu",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1kGX3Re26UPIfPmdkzuCbavuBkbAB-qG-"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        112
      ],
      "id": "85e68237-ffdb-4485-a170-41871b1a45ea",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TN2UKNgJX6sDS1zM",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        112
      ],
      "id": "e8e4f626-04e4-4776-b2fb-47592682b8dc",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TN2UKNgJX6sDS1zM",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "projectrag",
          "mode": "list",
          "cachedResultName": "projectrag"
        },
        "embeddingBatchSize": 500,
        "options": {
          "pineconeNamespace": "prod"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1040,
        112
      ],
      "id": "146e5dc2-f47c-4428-8f41-27d9ef21c596",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "xTBUZswVkqZRsoLt",
          "name": "Pinecone account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        352
      ],
      "id": "c4b85b5c-32d8-4921-8624-cd74c18e5f61",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "l6rO6JWGfbCiIEsm",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1184,
        320
      ],
      "id": "566e6619-6694-40bd-bccd-fb7efc7cecc6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1216,
        496
      ],
      "id": "bd3876bb-16f1-40f3-aa8a-a391bad745fc",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4de37c7d-47d5-40f2-910d-97da1c5712f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c8201cb0dc83b4713a4dd42454ec696b963b61f56691c5da1d3d62640d43aca"
  },
  "nodeGroups": [],
  "id": "ziMOhpaqe0qGakXw",
  "tags": []
}